.login-page{

min-height:100vh;

display:flex;

justify-content:center;

align-items:center;

background:#111;

}

.login-box{

width:420px;

background:#1d1d1d;

padding:45px;

border-radius:18px;

box-shadow:0 10px 35px rgba(0,0,0,.35);

text-align:center;

}

.login-box h2{

font-size:38px;

margin-bottom:10px;

color:#D4AF37;

font-family:"Cormorant Garamond",serif;

}

.login-box p{

color:#bbb;

margin-bottom:25px;

}

.login-box input{

width:100%;

padding:15px;

margin-bottom:18px;

border:none;

outline:none;

border-radius:10px;

background:#2b2b2b;

color:#fff;

}

.login-box input:focus{

border:1px solid #D4AF37;

}

.login-box button{

width:100%;

padding:15px;

border:none;

border-radius:10px;

background:#D4AF37;

color:#111;

font-weight:700;

cursor:pointer;

transition:.3s;

}

.login-box button:hover{

transform:translateY(-2px);

}

#loginError{

margin-top:15px;

color:#ff5f5f;

font-size:14px;

}